$background: #f5f2f0;
$page-padding: 20vw;

body {
    background-color: $background;
    overflow: hidden;
}

@font-face {
    font-family: "Circular Book";
    src: url("/../fonts/circular_book/circular_book.woff2") format("woff2"),
        url("/../fonts/circular_book/circular_book.woff") format("woff"),
        url("/../fonts/circular_book/circular_book.otf") format("opentype"),
        url("/../fonts/circular_book/circular_book.ttf") format("truetype");
}

@font-face {
    font-family: "Circular Book Italic";
    src: url("/../fonts/circular_book_italic/circular_book_italic.woff2") format("woff2"),
        url("/../fonts/circular_book_italic/circular_book_italic.woff") format("woff"),
        url("/../fonts/circular_book_italic/circular_book_italic.otf") format("opentype"),
        url("/../fonts/circular_book_italic/circular_book_italic.ttf") format("truetype");
}

@font-face {
    font-family: "Circular Medium";
    src: url("/../fonts/circular_medium/circular_medium.woff2") format("woff2"),
        url("/../fonts/circular_medium/circular_medium.woff") format("woff"),
        url("/../fonts/circular_medium/circular_medium.otf") format("opentype"),
        url("/../fonts/circular_medium/circular_medium.ttf") format("truetype");
}

@font-face {
    font-family: "Circular Medium Italic";
    src: url("/../fonts/circular_medium_italic/circular_medium_italic.woff2") format("woff2"),
        url("/../fonts/circular_medium_italic/circular_medium_italic.woff") format("woff"),
        url("/../fonts/circular_medium_italic/circular_medium_italic.otf") format("opentype"),
        url("/../fonts/circular_medium_italic/circular_medium_italic.ttf") format("truetype");
}

@font-face {
    font-family: "Circular Black";
    src: url("/../fonts/circular_black/circular_black.woff2") format("woff2"),
        url("/../fonts/circular_black/circular_black.woff") format("woff"),
        url("/../fonts/circular_black/circular_black.otf") format("opentype"),
        url("/../fonts/circular_black/circular_black.ttf") format("truetype");
}

@font-face {
    font-family: "Circular Black Italic";
    src: url("/../fonts/circular_black_italic/circular_black_italic.woff2") format("woff2"),
        url("/../fonts/circular_black_italic/circular_black_italic.woff") format("woff"),
        url("/../fonts/circular_black_italic/circular_black_italic.otf") format("opentype"),
        url("/../fonts/circular_black_italic/circular_black_italic.ttf") format("truetype");
}

@font-face {
    font-family: "Circular Bold";
    src: url("/../fonts/circular_bold/circular_bold.woff2") format("woff2"),
        url("/../fonts/circular_bold/circular_bold.woff") format("woff"),
        url("/../fonts/circular_bold/circular_bold.otf") format("opentype"),
        url("/../fonts/circular_bold/circular_bold.ttf") format("truetype");
}

@font-face {
    font-family: "Circular Black Italic";
    src: url("/../fonts/circular_bold_italic/circular_bold_italic.woff2") format("woff2"),
        url("/../fonts/circular_bold_italic/circular_bold_italic.woff") format("woff"),
        url("/../fonts/circular_bold_italic/circular_bold_italic.otf") format("opentype"),
        url("/../fonts/circular_bold_italic/circular_bold_italic.ttf") format("truetype");
}

.nav-custom {
    padding-left: $page-padding;
    padding-right: $page-padding;
    font-family: "Circular Bold";
    min-height: 70px;
    background-color: white !important;
}

.nav-item {
    padding-left: 15px;
}

#website-wrapper {
    padding-left: $page-padding;
    padding-right: $page-padding;
}

.home-main-lightbox-wrapper {
    width: 100%;
    height: 400px;
    background-color: white;
    display: block;
    margin-top: 20px;
    // testing positions
    border-style: dotted;
    border-width: 5px;
    border-color: red;
}
