$background: #f5f2f0;

body {
    background-color: $background;
    overflow: hidden;
}

%page-layout {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

%normal-text {
    font-family: "Circular Std Book";
    font-size: 1.1rem;
    letter-spacing: -0.5px;
    line-height: 1.4rem;
}

%h1-heading {
    font-family: "Circular Std Bold";
    font-size: 2.3rem;
    line-height: 2.5rem;
}

// card interaction module, need shadow
%card-interaction {
    transition: transform 0.15s;
    &:hover {
        transform: translate(0px, -3px);
        -webkit-box-shadow: 0px 2px 7px 1px rgba(168,168,168,0.23);
        -moz-box-shadow: 0px 2px 7px 1px rgba(168,168,168,0.23);
        box-shadow: 0px 2px 7px 1px rgba(168,168,168,0.23);
    }
}

// font import from Online Web Fonts -> Circular
@import url(//db.onlinewebfonts.com/c/06d1b1518a180e5a9cca2c23401ec40a?family=Circular+Std+Bold);
@import url(//db.onlinewebfonts.com/c/2d98f490df6dc039774b101701ce3aba?family=Circular+Std+Book);
@import url(//db.onlinewebfonts.com/c/2b344f641cb4ebd77656f35154457c2d?family=Circular+Std+Black);
@import url(//db.onlinewebfonts.com/c/280483fe8ab9beaf3337681ec871bff0?family=Circular+Std+Medium);
@import url(//db.onlinewebfonts.com/c/00e35865e84eebb1b97e22ebffa948df?family=Circular+Std+Bold+Italic);
@import url(//db.onlinewebfonts.com/c/33c0ccc21387ad531817bd465d94e67d?family=Circular+Std+Book+Italic);
@import url(//db.onlinewebfonts.com/c/6c1578f983524180fa64138ee780cadf?family=Circular+Std+Black+Italic);
@import url(//db.onlinewebfonts.com/c/186d64bc83bd1dc3aa4a4a4db40da5bc?family=Circular+Std+Medium+Italic);

// font import from Online Web Fonts -> Platform
@import url(//db.onlinewebfonts.com/c/e7cb817c6df59f3ac33e76680938bc0f?family=Platform+Bold);
@import url(//db.onlinewebfonts.com/c/f58919c8d17a7e8e170c3ba632f93bd3?family=Platform+Medium);
@import url(//db.onlinewebfonts.com/c/6a9a7b1edc7ff5984996d7e4fe5f6861?family=Platform+Web+Medium);
@import url(//db.onlinewebfonts.com/c/f24c407a3d7631757d38c3e61520a3fa?family=Platform+Web+Medium);
@import url(//db.onlinewebfonts.com/c/1f48900b62d277f357bb39ca68a9dd49?family=Platform+Jules+Light);


//navigation bar
.nav-custom {
    font-family: "Circular Std Bold";
    min-height: 70px;
    background-color: white !important;
    @extend %page-layout;
    padding-right: 0;
    padding-left: 0;
}

.header-wrapper {
    min-height: 70px;
    width: 100%;
    background-color: white;
}

.nav-item {
    padding-left: 15px;
}

//spotlight section
#website-wrapper {
    @extend %page-layout;
}

.home-main-lightbox-wrapper {
    height: 450px;
    background-color: white;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-gap: 0px;
    margin-top: 10px;
    @extend %card-interaction;
}

@media (max-width: 1220px) {
    .nav-custom {
        width: 98vw;
    }
    #website-wrapper {
        width: 98vw;
	}
	.cards-flexbox{
		width: 98vw;
	}
}

.spotlight-image-wrapper {
    height: 450px;
    width: 100%;
    overflow: hidden;
}

.spotlight-text-area {
    width: 100%;
    min-width: 390px;
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.spotlight-text-wrapper {
    margin-top: auto;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: auto;
}

.spotlight-image {
    object-fit: fill;
}

.spotlight-heading {
    @extend %h1-heading;
}

.spotlight-description {
    margin-top: 40px;
    @extend %normal-text;
}

.button-custom {
    @extend %normal-text;
    padding: 12px 30px;
    margin-top: 60px;
}

//main page cards

.cards-flexbox{
	@extend %page-layout;
    background-color: $background;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;

}

%card-layout {
	@extend %card-interaction;
	height: 450px;
    background-color: white;
    display: grid;
	grid-gap: 0px;
	width:30%;
	min-width: 300px;
}

.text-card{
 @extend %card-layout;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
}

.card-text-wrapper{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 40px;
	margin-right: 40px;
}

.card-text-headline{
	font-family: 'Times New Roman', Times, serif;
	font-style:italic;
	font-size: 30px;
}
.card-text-description{
	@extend %normal-text;
}

.img-card{
	@extend %card-layout;
	grid-template-rows: 7fr 3fr;
}
