@import url(//db.onlinewebfonts.com/c/06d1b1518a180e5a9cca2c23401ec40a?family=Circular+Std+Bold);
@import url(//db.onlinewebfonts.com/c/2d98f490df6dc039774b101701ce3aba?family=Circular+Std+Book);
@import url(//db.onlinewebfonts.com/c/2b344f641cb4ebd77656f35154457c2d?family=Circular+Std+Black);
@import url(//db.onlinewebfonts.com/c/280483fe8ab9beaf3337681ec871bff0?family=Circular+Std+Medium);
@import url(//db.onlinewebfonts.com/c/00e35865e84eebb1b97e22ebffa948df?family=Circular+Std+Bold+Italic);
@import url(//db.onlinewebfonts.com/c/33c0ccc21387ad531817bd465d94e67d?family=Circular+Std+Book+Italic);
@import url(//db.onlinewebfonts.com/c/6c1578f983524180fa64138ee780cadf?family=Circular+Std+Black+Italic);
@import url(//db.onlinewebfonts.com/c/186d64bc83bd1dc3aa4a4a4db40da5bc?family=Circular+Std+Medium+Italic);
@import url(//db.onlinewebfonts.com/c/e7cb817c6df59f3ac33e76680938bc0f?family=Platform+Bold);
@import url(//db.onlinewebfonts.com/c/f58919c8d17a7e8e170c3ba632f93bd3?family=Platform+Medium);
@import url(//db.onlinewebfonts.com/c/6a9a7b1edc7ff5984996d7e4fe5f6861?family=Platform+Web+Medium);
@import url(//db.onlinewebfonts.com/c/f24c407a3d7631757d38c3e61520a3fa?family=Platform+Web+Medium);
@import url(//db.onlinewebfonts.com/c/1f48900b62d277f357bb39ca68a9dd49?family=Platform+Jules+Light);
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,500;1,300;1,400;1,500&family=Crimson+Text:ital@0;1&display=swap");
body {
  background-color: #f5f2f0;
}

.below-card-button-space, .cards-flexbox, .line-for-projects-space, #website-wrapper, .nav-custom {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.img-card-text-description, .img-card-text-title, .img-card-item-type, .card-text-description, .spotlight-description {
  font-family: "Circular Std Book";
  font-size: 1.1rem;
  letter-spacing: -0.5px;
  line-height: 1.4rem;
}

.spotlight-heading {
  font-family: "Circular Std Bold";
  font-size: 2.2rem;
  line-height: 2.4rem;
  letter-spacing: -1.5px;
}

.img-card, .text-card {
  height: 450px;
  background-color: white;
  width: 393.33px;
}

.img-card, .home-main-lightbox-wrapper {
  transition: transform 0.15s;
}
.img-card:hover, .home-main-lightbox-wrapper:hover {
  transform: translate(0px, -3px);
  -webkit-box-shadow: 0px 2px 7px 1px rgba(168, 168, 168, 0.23);
  -moz-box-shadow: 0px 2px 7px 1px rgba(168, 168, 168, 0.23);
  box-shadow: 0px 2px 7px 1px rgba(168, 168, 168, 0.23);
}

.nav-custom {
  font-family: "Circular Std Bold";
  min-height: 70px;
  background-color: white !important;
  padding-right: 0;
  padding-left: 0;
}

.header-wrapper {
  min-height: 70px;
  width: 100%;
  background-color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 25px;
}

.home-main-lightbox-wrapper {
  height: 450px;
  background-color: white;
  display: grid;
  grid-template-columns: 6638.9fr 3361.1fr;
  grid-gap: 0px;
  margin-top: 10px;
}

@media (max-width: 1220px) {
  .nav-custom {
    width: 98vw;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    margin: 0;
  }

  #website-wrapper {
    width: 98vw;
  }

  .cards-flexbox {
    width: 98vw;
  }

  .img-card, .text-card {
    width: 32vw;
  }

  .below-card-button-space {
    width: 98vw;
  }
}
.spotlight-image-wrapper {
  height: 450px;
  width: 100%;
  overflow: hidden;
}

.spotlight-text-area {
  width: 100%;
  min-width: 390px;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotlight-text-wrapper {
  margin-top: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: auto;
}

.spotlight-image {
  object-fit: fill;
}

.spotlight-description {
  margin-top: 50px;
}

.line-for-projects-space {
  margin-top: 40px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line-text-wrapper {
  display: inline-block;
  width: 10%;
}

.line-text {
  font-family: "Circular Std Book";
  font-size: 1rem;
  color: grey;
}

hr.light-hr {
  border-top: 0.2px solid lightgrey;
  width: 90%;
  margin: 0;
}

.thick-white-line-space {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

hr.thick-white {
  border-top: 8px solid white;
  width: 100%;
}

.cards-flexbox {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.ten-px-right-margin {
  margin-right: 10px;
}

.text-card {
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.card-text-wrapper {
  margin: 25px;
  height: 230px;
}

.card-text-headline {
  font-family: "Crimson Text";
  font-style: italic;
  font-size: 2rem;
}

.card-text-subtitle {
  margin-top: 2.3rem;
  font-family: "Circular Std Black";
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  line-height: 1.4rem;
}

.img-card {
  height: 500px;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.img-card-image-wrapper {
  width: 393.33px;
  height: 200px;
  overflow: hidden;
}

.img-card-img {
  width: 100%;
  object-fit: cover;
}

.img-card-item-type {
  font-size: 1rem;
  margin-bottom: 10px;
}

.img-card-text-title {
  font-family: "Circular Std Bold";
}

.img-card-text-description {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.image-card-link-wrapper {
  position: absolute;
  left: 25px;
  bottom: 25px;
}

.below-card-button-space {
  display: flex;
  margin-bottom: 30px;
  align-items: flex-end;
  justify-content: flex-end;
}

.projects-more-button {
  padding: 10px 20px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 3px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: black;
  text-align: center;
  transition: all 0.2s;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-family: "Circular Std Bold";
}

.projects-more-button:hover {
  background-color: black;
  color: white;
}

.card-link-text, .spotlight-link-text {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  color: black;
  border: none;
  transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.card-link-text:hover, .spotlight-link-text:hover {
  color: #0d0d0d;
}

.card-link-arrow, .spotlight-link-arrow {
  position: relative;
  transition: background-color 300ms ease-out;
}
.card-link-arrow span, .spotlight-link-arrow span {
  display: inline-block;
  position: relative;
  transition: all 300ms ease-out;
  will-change: transform;
}
.card-link-arrow:hover span, .spotlight-link-arrow:hover span {
  transform: translate3d(0, 0, 0);
}
.card-link-arrow svg, .spotlight-link-arrow svg {
  position: absolute;
  width: 0.9em;
  left: 8.7rem;
  right: 0px;
  right: 0rem;
  opacity: 1;
  top: 43%;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}
.card-link-arrow svg *, .spotlight-link-arrow svg * {
  stroke-width: 2;
}
.card-link-arrow:hover svg, .spotlight-link-arrow:hover svg {
  opacity: 1;
  left: 9.2rem;
}

a {
  display: inline-block;
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9958a6;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.spotlight-link-text {
  margin-top: 60px;
}

.card-link-text {
  margin-top: 0px;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  color: black;
}
.card-link-text:hover {
  color: #0d0d0d;
}

.card-link-arrow svg {
  position: absolute;
  width: 0.9em;
  left: 5.5rem;
  opacity: 1;
  top: 43%;
}
.card-link-arrow svg * {
  stroke-width: 2;
}
.card-link-arrow:hover svg {
  opacity: 1;
  left: 6rem;
}

/*# sourceMappingURL=style.css.map */
