$background: #f5f2f0;
$page-padding: 20vw;

body {
    background-color: $background;
    overflow: hidden;
}

%page-layout {
    width: 60vw;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

// font import from Online Web Fonts
@import url(//db.onlinewebfonts.com/c/06d1b1518a180e5a9cca2c23401ec40a?family=Circular+Std+Bold);
@import url(//db.onlinewebfonts.com/c/2d98f490df6dc039774b101701ce3aba?family=Circular+Std+Book);
@import url(//db.onlinewebfonts.com/c/2b344f641cb4ebd77656f35154457c2d?family=Circular+Std+Black);
@import url(//db.onlinewebfonts.com/c/280483fe8ab9beaf3337681ec871bff0?family=Circular+Std+Medium);
@import url(//db.onlinewebfonts.com/c/00e35865e84eebb1b97e22ebffa948df?family=Circular+Std+Bold+Italic);
@import url(//db.onlinewebfonts.com/c/33c0ccc21387ad531817bd465d94e67d?family=Circular+Std+Book+Italic);
@import url(//db.onlinewebfonts.com/c/6c1578f983524180fa64138ee780cadf?family=Circular+Std+Black+Italic);
@import url(//db.onlinewebfonts.com/c/186d64bc83bd1dc3aa4a4a4db40da5bc?family=Circular+Std+Medium+Italic);

.nav-custom {
    font-family: "Circular Std Bold";
    min-height: 70px;
    background-color: white !important;
    @extend %page-layout;
    padding-right: 0;
    padding-left: 0;
}

.header-wrapper {
    min-height: 70px;
    width: 100%;
    background-color: white;
}

.nav-item {
    padding-left: 15px;
}

#website-wrapper {
    @extend %page-layout;
}

.home-main-lightbox-wrapper {
    @extend %page-layout;
    height: 450px;
    background-color: white;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-gap: 0px;
    margin-top: 20px;
}

.spotlight-image-wrapper {
    height: 450px;
    width: 100%;
    overflow: hidden;
}

.spotlight-text-wrapper {
    width: 100%;
    min-width: 390px;
    background-color: red;
    overflow: hidden;
}

.spotlight-image {
    object-fit: fill;
}

